langchain
langchain-core
langchain-community
langchain-huggingface
langchain-mistralai
langchain_classic
chromadb
faiss-cpu

sentence-transformers
transformers
torch
accelerate

pypdf
PyPDF2
unstructured

python-dotenv

streamlit

tiktoken

huggingface-hub

pandas
numpy

fastapi
uvicorn

requests

protobuf

einops

scikit-learn

beautifulsoup4

lxml

pymupdf

docx2txt

wikipedia

duckduckgo-search